.env
.DS_Store
.git
.github
.vercel
.wrangler
dist
doc
node_modules
plugins
scripts
wrangler.toml
wrangler-example.toml
config.json
LICENSE
README.md
README_CN.md
packages/**/dist
packages/**/node_modules
packages/**/tsconfig.tsbuildinfo