@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

:root {
  --color-link: #1AA5AC;
}

a {
  text-decoration: none;
  color: #1AA5AC;
}

body {
  background-color: #141D2B;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.wrapper {
  max-width: 1140px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

@media (min-width: 1350px) {
  .wrapper {
    max-width: 1320px;
  }
}

.login-page{
  .supportWrapper{
    justify-content: center; 
  }
}

footer {
  position: static;
  padding: 0;
  margin: 142px 0;
  color: #94ABCF;
  svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  a {
    color: #1AA5AC;
    display: inline-flex;
    align-items: center;
    margin: 0 15px;
  }
}

main {
  footer {
    margin-left: 500px;
  }
}

.supportWrapper {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  margin: 100px 0 100px 0;

  h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    margin: 0;
  }
}

h3 {
  margin: 0 0 80px 0;
}

.form-group {
  margin-bottom: 30px;

  label {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    display: block;
  }
  .form-control{
    height: 72px;
    background: #1E2839;
    border: 1px solid #1E2839;
    font-size: 20px;
    &:focus {
      border-color: #1AA5AC;
      outline: none;
    }
    &:valid{
      background: #1E2839;      
    }
  }
}

.form-control {
  width: 100%;
  padding: 14px 20px;
  height: 56px;
  background: #1E2839;
  border: 0;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-family: inherit;
  border: 2px solid #1E2839;
  transition: all 0.25s ease-in-out;
  resize: vertical;
  &.form-login {
    height: 72px;
  }

  &::placeholder {
    color: #596B85;
    opacity: 1;
  }

  &:focus {
    border-color: #1AA5AC;
    outline: none;
  }

  &:valid {
    background: #1E2839;
  }
}

.header-logo {
  flex: 0 0 104px;
  max-width: 104px;
  margin-right: 58px;
  display: inline-block;
  margin-top: 10px;
}

.container {
  max-width: 520px;
  padding: 0 20px;
  margin: 0 auto;
}

.button-wrap {
  display: flex;
  gap: 20px;

  .btn:first-child:not(:last-child) {
    display: none;
  }
}

.btn {
  border-radius: 10px;
  position: relative;
  width: 100%;
  font-size: 20px;
  height: 72px;
  z-index: 1;
  overflow: hidden;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 600;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.25s ease-in-out;
  background: linear-gradient(90deg, #10A37F 0%, #28A8E9 100%);

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, #10A37F 0%, #28A8E9 100%);
    transition: all 0.25s ease-in-out;
    z-index: -1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, #28A8E9 0%, #10A37F 100%);
    transition: all 0.25s ease-in-out;
    opacity: 0;
    z-index: -1;
  }

  &:hover {
    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }

  &.btn-prompt {
    background: #1E2839;
    margin-top: 50px;
    &:before,
    &:after {
      display: none;
    }
    &:hover{
      background: #253145;
    }
  }

  &[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }

}


.form {
  margin-bottom: 80px;
}

.form-link {
  color: #94ABCF;
  font-size: 20px;

  a {
    color: #1AA5AC;
  }
}

.row {
  display: flex;
}

.sidebar {
  flex: 0 0 420px;
  max-width: 420px;
}

.content {
  flex: 1 1 auto;
  width: 1%;
  padding-left: 80px;
  position: relative;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 40px;
}

.nav {
  li {
    display: block;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    a {
      display: flex;
      align-items: center;
      color: #94ABCF;
      font-size: 20px;
      line-height: 30px;
      position: relative;
      padding: 20px 60px 20px 20px;
      transition: all 0.25s ease-in-out;
      border-radius: 10px;

      span {
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        line-height: 32px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);        
        background-color: #1E2839;
        transition: all 0.25s ease-in-out;
        border-radius: 50%;
        text-align: center;
      }

      &.active {
        color: #fff;
        background: #1E2839;
        span{
          background-color: #2E3D54;
        }
        svg {
          fill: #fff;
        }
      }

      &:hover {
        color: #fff;
        span{
          background-color: #2E3D54;
        }
        svg {
          fill: #fff;
        }
      }
    }
  }

  svg {
    fill: #94ABCF;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 20px;
    transition: all 0.25s ease-in-out;
  }
}

.tab-content {
  display: none;

  &.active {
    display: block;
  }

  label {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
    color: #fff;

    a {
      color: var(--color-link);
    }
  }
}

.headline {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 16px;
    margin-right: 30px;
    order: -1;
  }

  svg {
    display: inline-block;
    width: 30px;
    height: 30px;
    fill: #fff;
  }

  +.warning {
    margin-top: -20px;
  }

  &.with-image-icon {
    img {
      order: -1;
      width: 56px;
      height: 56px;
      margin-right: 30px;
    }
    button {
      order: -2;  
      width: 22px;  
      height: 41px;
      background: url('images/back.svg') 0 0 no-repeat;
      background-size: 100%;
      border: 0;
      padding: 0;
      margin-right: 35px;
      cursor: pointer;
    }
  }
}

.container{
  .headline{
    margin-bottom: 60px;
  }
}

.separator {
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 60px 0;

  +.title {
    margin-bottom: 30px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: #253145;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
  }

  span {
    display: inline-block;
    background-color: #141D2B;
    padding: 0 40px;
    z-index: 1;
    position: relative;
    color: #94ABCF;
    font-weight: 600;
  }
}

.accordionOptionsList {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  li {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
    position: relative;

    button {
      background: #1E2839;
      border: 0;
      text-align: center;
      height: 350px;
      padding: 40px 20px 20px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      border-radius: 10px;
      transition: all 0.25s ease-in-out;
      color: #94ABCF;
      font-family: inherit;
      cursor: pointer;

      &:hover {
        background: #253145;
      }

      span {
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        color: #fff;
      }

      img {
        width: 104px;
        height: 104px;
        display: block;
        margin: 0 auto 30px auto;
      }
    }
  }
}

#customIcon {
  transition: .2s;
}

.textarea-wrp {
  border-radius: 10px;
  background: linear-gradient(90deg, #28A8E9 0%, #10A37F 100%);
  padding: 0px;
  transition: .2s;
  margin-bottom: 32px;
  display: none;
  position: relative;

  &.non-empty {
    padding: 2px;

    .prompt-area {
      padding: 30px 28px 28px;
      border-radius: 8px;
      height: 433px;
    }
  }
}

.check-icon {
  position: absolute;
  width: 30px;
  height: 25px;
  background-color: #ffff;
  top: 23px;
  right: 22px;
  background: url('images/checkbox.svg') 0 0 no-repeat;
  border: 0;
}

.edit-mode {
  .textarea-wrp {
    display: block;
  }

  &:not(.write-a-prompt) {
    .button-wrap {
      .btn.btn-prompt {
        display: block;
        margin-top: 0;
      }

    }
  }


}

.prompt-area {
  width: 100%;
  height: 437px;
  border-radius: 8px;
  background: #1E2839;
  resize: vertical;
  font-family: inherit;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 32px 30px 30px;
  outline: none;
  border: none;
  position: relative;
  transition: .2s;
}



.more {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0 80px 0;

  a {
    display: inline-block;
    color: var(--color-link);
  }
}

.form-section {
  margin-bottom: 60px;
  color: #94ABCF;
  font-size: 20px;
  line-height: 30px;
}

p {
  margin-bottom: 50px;

  button {
    padding: 0;
    color: #1AA5AC;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    background: none;
    cursor: pointer;
  }
}

.warning {
  color: #C57B64;
  border-radius: 10px;
  background: #262631;
  margin: 60px 0;
  padding: 25px 30px;
  display: flex;
  align-items: center;

  svg {
    display: inline-block;
    width: 26px;
    height: 25px;
    flex: 0 0 26px;
    max-width: 26px;
    margin-right: 30px;
    position: relative;
    top: 2px;
    fill: #C57B64;
  }
}

.important-warning {
  color: #E4464F;
  border-radius: 10px;
  background: #29212F;
  margin: 80px 0;
  padding: 25px 30px;
  display: flex;

  svg {
    display: inline-block;
    width: 26px;
    height: 25px;
    flex: 0 0 26px;
    max-width: 26px;
    margin-right: 30px;
    position: relative;
    top: 2px;
    fill: #E4464F;
  }
}

.important-sucсess {
  color: #509F87;
  border-radius: 10px;
  background: #1A2A34;
  padding: 25px 30px;
  margin: 40px 0;
  display: flex;

  svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    max-width: 24px;
    margin-right: 30px;
    position: relative;
    top: 2px;
  }
}

.info-message {
  color: #94ABCF;
  border-radius: 10px;
  background: #1E2839;
  padding: 25px 30px;
  display: flex;
  margin: 40px 0;

  svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    max-width: 24px;
    margin-right: 30px;
    position: relative;
    top: 2px;
  }
}

details {
  position: relative;
  margin-top: 30px;

  &[open] {
    .chevron {
      transform: rotate(90deg);
    }
  }

  summary {
    list-style: none;
    padding-left: 36px;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}

.chevron {
  position: absolute;
  left: 0;
  top: 5px;
  width: 11px;
  height: 18px;

  svg {
    width: 11px;
    height: 18px;
    fill: #42526C;
  }

  &.chevron-open {
    transform: rotate(90deg);
  }
}

.form-section {
  ol {
    margin-top: 80px;
  }

  img {
    width: 100%;
  }
}

ol {
  list-style: none;
  counter-reset: point;

  li {
    color: #94ABCF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    padding-left: 30px;

    img {
      margin-top: 50px;
      border-radius: 10px;
    }

    +li {
      margin-top: 30px;
    }

    &:before {
      content: counter(point) '.';
      counter-increment: point 1;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      min-width: 36px;
      left: 0;
      top: 0;
      color: #fff;
      font-weight: 600;
    }
  }
}

.collapse-list{
  margin-top: -20px;
}

.collapse {
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #253145;

  label {
    font-weight: 400;
    margin: 0;
  }

  input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;

    &:checked {
      ~.collapse-content {
        max-height: 100vh;
        padding-bottom: 60px;
      }

      +.collapse-label {
        svg {
          fill: #fff;
          transform: translateY(-50%) rotate(-90deg);
        }
      }
    }
  }
}

.collapse-label {
  cursor: pointer;
  position: relative;
  color: #94ABCF;
  padding: 30px 30px 30px 0;

  svg {
    width: 11px;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    fill: #42526C;
  }
}

.collapse-content {
  max-height: 0;
  transition: all .35s;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #94ABCF;
}


@media (max-width: 1349px) {
  .nav li a {
    font-size: 18px;
  }

  .sidebar {
    flex: 0 0 360px;
    max-width: 360px
  }

  main footer {
    margin-left: 420px;
  }

  .content {
    padding-left: 60px;
  }

  .accordionOptionsList li button img {
    width: 84px;
    height: 84px;
  }

  header h2 {
    font-size: 52px;
    line-height: 60px;
  }

  .headline {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 1199px) {
  .sidebar {
    flex: 0 0 320px;
    max-width: 320px
  }

  .form-section .form-area{
    height: 96px;
    font-size: 16px;
  }

  main footer {
    margin-left: 380px;
  }

  .nav li a {
    font-size: 16px;
    padding: 8px 20px 8px 10px
  }

  .nav li a span {
    width: 24px;
    height: 24px;
    line-height: 24px;
    right: 10px;
  }

  header h2 {
    font-size: 42px;
    line-height: 50px;
  }

  header {
    margin-bottom: 100px;
  }

  .header-logo {
    margin-top: 0;
  }

  .accordionOptionsList li button img {
    width: 60px;
    height: 60px;
  }

  .headline {
    font-size: 24px;
    line-height: 34px;
  }
}

@media (max-width: 991px) {
  .nav li a {
    font-size: 14px;
  }

  .nav svg {
    width: 20px;
    height: 20px;
  }

  .sidebar {
    flex: 0 0 300px;
    max-width: 300px
  }

  .sidebar {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .content {
    width: 100%;
    padding: 0;
  }

  .row {
    display: block;
  }

  header {
    margin: 30px 0 30px 0;
  }

  .sidebar{
    .title{
      margin-bottom: 20px;
    }
  }

  .header-logo {
    flex: 0 0 48px;
    max-width: 48px;
    margin-right: 20px;
  }

  .form{    
    margin-bottom: 40px;
  }

  .form-group label{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .form-link{
    font-size: 14px;
    line-height: 24px;
  }

  header h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .title {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .headline span {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    margin-right: 20px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .headline {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .form-section {
    font-size: 14px;
    line-height: 24px;
  }

  p {
    margin-bottom: 30px;
  }

  .form-section {
    margin-bottom: 30px;
  }

  .btn {
    height: 48px;
    font-size: 14px;
    line-height: 24px;
  }

  .separator {
    margin: 30px 0;
  }

  .btn.btn-prompt {
    margin-top: 30px;
  }

  .accordionOptionsList {
    margin-left: -5px;
    margin-right: -5px;
  }

  .accordionOptionsList li {
    padding: 0 5px;
    margin-bottom: 10px;

    button {
      min-height: 195px;
      height: 100%;
      padding-top: 15px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .accordionOptionsList li button img {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
  }

  .accordionOptionsList li button span {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .more {
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0;
  }

  main footer {
    margin: 60px 0;
  }

  .supportWrapper {
    justify-content: center;
    font-size: 12px;
  }

  .tab-content label {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .form-control {
    font-size: 14px;
    line-height: 24px;
    padding: 15px 20px;
  }

  details {
    margin-top: 20px;
  }

  details summary {
    padding-left: 24px;
  }

  .chevron {
    width: 9px;
    height: 14px;

    svg {
      width: 9px;
      height: 14px;
    }
  }

  .form-section ol {
    margin-top: 40px;
  }

  ol li {
    font-size: 14px;
    line-height: 24px;
    padding-left: 27px;

    img {
      margin-top: 30px;
      border-radius: 6px;
    }

    +li {
      margin-top: 20px;
    }
  }

  .important-warning {
    margin: 40px 0;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 20px;

    svg {
      width: 20px;
      height: 18px;
      margin-right: 15px;
    }
  }

  .important-sucсess,
  .info-message,
  .warning {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0;

    svg {
      margin-right: 16px;
    }
  }

  .headline+.warning {
    margin-top: 0;
  }

  p button {
    font-size: 14px;
    line-height: 24px;
  }
  .form-group{
    margin-bottom: 20px;
  }
  .wrapper{
    min-height: calc(100vh - 30px);    
    position: relative;
  }
  .login-page{
    padding-bottom: 100px;
    footer{
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }
  }

  .collapse .collapse-label{
    padding: 20px 40px 20px 0;
    margin-bottom: 0;
  }
  .collapse-content{
    font-size: 14px;    
    line-height: 24px;      
  }
  .collapse input[type=checkbox]:checked ~ .collapse-content{
    padding-bottom: 20px;
  }

  .headline.with-image-icon button{
    width: 13px;
    height: 24px;
    margin-right: 20px;
  }

  .form-group .form-control{
    height: 48px;
    font-size: 14px;
  }


  .headline.with-image-icon img{
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }
  
  .container .headline {
    margin-bottom: 40px;
  }

  .form-section .form-area{
    font-size: 14px;
  }

  .check-icon{
    width: 20px;
    height: 16px;
    top: 10px;
    right: 10px;
    background-size: 100%;
  }

}


@media (max-width: 575px){
  .form-section .form-area{
    height: 110px;
  }
  .container{
    padding-left: 0;
    padding-right: 0;
  }
}