name: Deploy to Cloudflare Workers

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
    branches: [ "master", "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: echo "$WRANGLER_TOML" > wrangler.toml
    - run: npm install
    - run: npm run deploy
